.imagen {
    height: 60px;
    width: 60px;
}
.griff {
    background-color: #740001;
    color: #D3A625;
}
.slyth {
    background-color: #1A472A;
    color: #acacac;
}
.huffl {
    background-color: #FFD800;
    color: #000000;
}
.raven {
    background-color: #0E1A40;
    color: #946B2D;
}